
.App {
  align-items: center;
  color: darkgray;
}

.header{
  text-align: center;
}
 
.logo{
  align-items: center;
  width: 30%;
}

.navigation{
  margin: auto;
  padding: 1rem;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgray;
  position: sticky;
  top: 0;
}

/* .nav-brand{
 width: 20%;
 height: 10%;
} */

.list-inline {
  display: inline-block;
  padding: 0rem 2rem;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  text-align: center;
}

.list-non-bullet {
  text-align: center;
}

.toplink{
  text-decoration: none;
  color: darkgray;
}

.slider{
  padding: 3rem ;
  margin: auto;
}
.slider-img {
  align-items: center;
  padding: 2rem;
}

/* Footer Part */
.footer{
  display: block;
  font-size: large;
  /* background-color: black; */
  color : darkgray;
  padding: 4rem;
  margin: 0;
  border-top: 1px solid darkgrey ;
}
.cards{
  max-width: 70%;
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 15px;
}
.card{
  padding-left: 2rem;
  margin: 0;
}
.list-inline{
  display: inline;
  text-decoration: none;
}