.App {
  align-items: center;
  color: darkgray;
}

.heading{
  /* font-size: larger; */
  text-align: center;
  font-weight: normal;
}

/* Carousel Part */
.slider{
  padding: 1rem;
  width:"400";
  height:"100";
}

.header{
  text-align: center;
  padding-bottom: 2rem;
}
 
.nav-brand{
  align-items: center;
  width: 40%;
}

.navigation{
  margin: auto;
  padding: 3rem;
  /* border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgray; */
  position: sticky;
  top: 0;
}

/* .nav-brand{
 width: 20%;
 height: 10%;
} */

.list-inline {
  display: inline;
  padding: 0rem 4rem;
  text-decoration: none;
  /* list-style: none; */
  font-size: 30px;
  text-align: center;
}
ul{
  padding-inline-start: 0;
  padding-left: 0;
  list-style-type:armenian;
}

.list-non-bullet {
  text-align: center;
}

.toplink{
  text-decoration: none;
  color: darkgray;
}

/* .slider-img {
  align-items: center;
  padding: 2rem;
} */

/* Services Part */
.details{
  padding: 2rem;
  /* border: 1px solid darkgray; */
}

.service-title{
border:1px solid white; 
height: 150px;; 
width: 150px;;
color: darkgray;
text-align: center;
}

.title{
  font-size: larger;
  padding: 1rem;
  width: 350px;
  height: 350px;
}

/* Client servies */
.client-img{
  margin: 2px;
  margin-bottom: 0;
  vertical-align: bottom;
  transition: .5s;
  box-shadow:0 0 6px 1px whitesmoke;
  cursor: pointer;
}
.client-img:hover{
  transform:scale(1.2);
  z-index: 2;
}

/* Footer Part */
.footer{
  display: block;
  font-size: large;
  /* background-color: black; */
  color : darkgray;
  padding: 4rem;
  /* margin: 0; */
  border-top: 1px solid darkgrey ;
}

.footer-heading{
  padding: 2rem;
}

.cards{
  align-items: center;
  display: flex;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 15px;
}
.footer-div{
  padding-left: 2rem;
  border: 0px;
  
}
/* .list-inline{
  display: inline;
  text-decoration: none;
} */