.App {
  align-items: center;
  color:#FAC812ff;
}

.heading{
  /* font-size: larger; */
  text-align: center;
  font-weight: normal;
}

/* Carousel Part */

.slider{
  padding: 1rem;
  width:"400";
  height:"100";
}

/* Branding part */

.header{
  text-align: center;
  padding-bottom: 2rem;
}
 
.brand{
  /* align-items: center; */
  width: 40%;
}

/* Navbar part */


/* Services Part */

.service-cards{
  display: grid;
}

.service-title{
  background-color: gray; 
  border-radius: 1rem;
  color: #FAC812ff;
}

/* Client servies */
.client-img{
  margin: 2px;
  margin-bottom: 0;
  vertical-align: bottom;
  transition: .5s;
  box-shadow:0 0 6px 1px whitesmoke;
  cursor: pointer;
}
.client-img:hover{
  transform:scale(1.2);
  z-index: 2;
}

/* Footer Part */
.footer{
  display: block;
  font-size: large;
  color : #FAC812ff;
  padding: 4rem;
  /* margin: 0; */
  /* border-top: 1px solid darkgrey ; */
}

.footer-heading{
  padding: 2rem;
}

.cards{
  align-items: center;
  display: flex;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 15px;
}
.footer-div{
  padding-left: 2rem;
  border: 0px;
  
}
.list-inline{
  display: inline-block;
  padding: 2rem;
  align-items: center;
  text-decoration: none;
}